@model IEnumerable<DentistBilling.Models.Bill>

@{
    ViewData["Title"] = "Index";
}

<h1>Bills</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costumer.CPRNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillMaker.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCostumer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalInsureance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costumer.CPRNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillMaker.EmployeeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCostumer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalInsureance)
                </td>
                <td>
                </td>
                <td>
                    <a asp-action="AddItem" asp-route-id="@item.ID">Add Billable Item</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
